<div class="header" style="height: 56px;">
    {{> header}}
</div>

<div class="cart">
    <div class="container-sm">
        <div class="row pt-5">
            <h3 class="pb-2">Giỏ hàng</h3>
            {{#if carts}}
                <table class="table table-striped table-hover table-bordered align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each carts}}
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-2 col-md-1">
                                            <img src="{{this.product.image}}" class="rounded-start w-100" alt="{{this.product.name}}">
                                        </div>
                                        <div class="col-10 col-md-11">
                                            <div class="card-body">
                                                <h5 class="card-title">{{this.product.name}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{this.quantity}}</td>
                                <td><a href="" class="">Xóa</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Giỏ hàng trống</p>
            {{/if}}
        </div>
    </div>
</div>
