<div class="header" style="height: 56px;">
    {{> header}}
</div>

<div class="home">
    <div class="container-sm">
        <div class="row">
            {{#each products}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
                <div class="card">
                    <a href="/products/{{this.slug}}">
                        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <a href="/products/{{this.slug}}" class="text-decoration-none">
                            <h6 class="card-title" style="color: black;height: 40px;overflow: hidden;">{{this.name}}</h6>
                        </a>
                        <h6 class="card-title" style="color: red;">Giá: {{this.price}} VNĐ</h6>
                        <a class="btn btn-primary" href="#">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>