<div class="header" style="height: 56px;">
    {{> header}}
</div>

<div class="home">
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
            {{#each products}}
            <div class="col p-2">
                <div class="card">
                    <a href="/products/{{this.slug}}">
                        <img class="card-img-top w-100" src="{{this.image}}" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <a href="/products/{{this.slug}}" class="text-decoration-none">
                            <h6 class="card-title" style="color: black;height: 40px;overflow: hidden;">{{this.name}}</h6>
                        </a>
                        <h6 class="card-title" style="color: red;">Giá: {{this.price}} VNĐ</h6>
                        <a class="btn btn-primary" href="/product/add-to-cart/{{this._id}}">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>