<div class="header" style="height: 56px;">
    {{> header}}
</div>

<div class="home mt-4 ml-1 mr-1">
    <!--<div class="container-fluid w-75"> -->
        <div class="row mt-4 ml-1 mr-1">
            {{#each products}}
            <div class="col-3 p-2">
                <div class="card card-product-item" style="width: 18rem;">
                    
                    <a href="/products/{{this.slug}}">
                        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                    </a> 
                    <div class="card-body">

                        <a href="/products/{{this.slug}}">
                            <h5 class="card-title" style="">{{this.name}}</h5>
                        </a>
                        <h5 class="card-title" style="color: red;">Giá: {{this.price}} VNĐ</h5>
                        <a class="btn btn-primary" href="#">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    <!--</div>-->
</div>