<div class="header" style="height: 56px;">
    {{> header}}
</div>

<div class="product">
    <div class="container-sm">
        <h1>Kết quả tìm kiếm cho '{{searchT}}'</h1>
        <div class="row pt-5">
            {{!-- {{#if searchProduct.length}} --}}
            {{#each searchProducts}}
            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3 p-2">
                <img class="card-img-top w-100" src="{{this.image}}" alt="{{this.name}}">
            </div>

            <div class="col-sm-12 col-md-6 col-lg-7 col-xl-8 col-xxl-9 p-2">
                <p class="h3 card-title">{{this.name}}</p>
                <p class="card-text pt-1">{{this.description}}</p>
                <p class="h5 card-title" style="color: red;">Giá: {{this.price}} VNĐ</p>
                <p class="h6 card-title pt-1 pb-3">Còn lại: {{this.quantity}}</p>
                <a class="btn btn-primary" id="cartButton" data-id="{{this.name}}" href="cart">Thêm vào giỏ hàng</a>

                <script>
                    // Lấy được name của các sp khi click
                    var button = document.getElementById("cartButton")
                    var myList = []
                    button.addEventListener("click", function() {
                        var id = button.getAttribute("data-id")
                        myList.push(id)
                        console.log(myList)
                    })
                </script>

            </div>
            {{/each}}
            {{!-- {{else}}
            <p>Không tìm thấy sản phẩm nào</p> --}}
        </div>
    </div>
</div>