<div class="product">
    <div class="container-sm">
        <h1>Kết quả tìm kiếm cho '{{searchT}}'</h1>
        <div class="row pt-5">
            {{#each searchProducts}}
            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3 p-2">
                <a href="/products/{{this.slug}}" style="text-decoration: none; color: black">
                    <img class="card-img-top w-100" src="{{this.image}}" alt="{{this.name}}">
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-7 col-xl-8 col-xxl-9 p-2">
                <a href="/products/{{this.slug}}" style="text-decoration: none; color: black">
                    <p class="h3 card-title">{{this.name}}</p>
                    <p class="card-text pt-1">{{this.description}}</p>
                    <p class="h5 card-title" style="color: red;">Giá: {{this.price}} VNĐ</p>
                    <p class="h6 card-title pt-1 pb-3">Còn lại: {{this.quantity}}</p>
                </a>
                <form class="add-to-cart-form" action="/product/add-to-cart/{{this._id}}" method="post">
                    <button type="submit" class="btn btn-primary add-to-cart-btn">Thêm vào giỏ hàng</button>
                </form>
            </div>
            {{/each}}

            <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thông báo</h5>
                        </div>
                        <div class="modal-body">
                            <p class="modal-message"></p>
                        </div>
                        <div class="modal-footer">
                            <div class="modal-button"></div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                Array.from(document.querySelectorAll('.add-to-cart-form')).forEach(form => {
                    form.addEventListener('submit', event => {
                        event.preventDefault();
                        fetch(event.target.action, {
                            method: 'POST',
                            body: new URLSearchParams(new FormData(event.target))
                        })
                        .then(response => response.json())
                        .then(json => {
                            $('#modal').modal('toggle');
                            $('.modal-message').html(json.message);
                            if (json.addSuccess) $('.modal-button').html('<button type="button" class="close-btn btn btn-primary" data-bs-dismiss="modal">Xác nhận</button>');
                            else $('.modal-button').html('<a type="button" class="btn btn-primary" href="/login">Đăng nhập</a><button type="button" class="close-btn btn btn-secondary ms-3" data-bs-dismiss="modal">Đóng</button>');
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>

<footer class = "footer">
    {{> footer}}
</footer>